.header-gradient {
    background: linear-gradient(to right, #b57edc, white);
    color: white;
}

a.nav-link{
    color: black !important;
    font-family: 'bowlby one sc' !important;
    font-size: 25px;
    font-weight: bold;
}

h1{
    font-family: 'bowlby one sc' !important;
    color: black !important;
}

p, p.lead{
    font-family: 'inter' !important;
    color: black !important;
}