.header-gradient {
    background-color: black;
}

a.nav-link{
    color: white !important;
    font-family: 'cal sans' !important;
    font-size: 32px;
    font-weight: bold;
}

h1{
    font-family: 'cal sans' !important;
    color: black !important;
}

h2.custom-profile-heading{
    font-family: 'cal sans' !important;
    color: black !important;
    font-size: 32px !important;

}


.nav.nav-tabs .nav-link { 
  color: #212529 !important;  
  font-family: 'cal sans' !important;
}
.nav.nav-tabs .nav-link:hover { 
  color: #0a58ca !important;  
  font-family: 'cal sans' !important;
}
.nav.nav-tabs .nav-link.active {
  color: #212529 !important;
  font-family: 'cal sans' !important;
}

p, p.lead{
    font-family: sans-serif !important;
    color: black !important;
}

.btn-gradient {
  background: linear-gradient(90deg, #007bff, #00c6ff);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn-gradient:hover,
.btn-gradient:focus {
  background: linear-gradient(90deg, #0056b3, #00aaff);
  box-shadow: 0 6px 16px rgba(0, 123, 255, 0.4);
}

@media (min-width:577px) and (max-width:1180px){
  .navbar-brand img{
    max-width: 500px;
    max-height: 250px;
  }
}

/* Phones */
@media (max-width:576px){
  html, body { font-size: 16px; }
}
